body {
    background-image: url(../img/journal-background.jpg);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    color: white;
}


nav {
    display: flex;
    justify-content: center;
    z-index: 1;
}
.navcontainer {
    font-family: 'Nanum Myeongjo', serif;
    align-items: center;
    background: transparent;
}

.header{
    font-family: 'Kaushan Script';
    margin-top: 50px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

ul a {
    font-size: 20px;
    color: white;
}

.newButton{
    margin: 30px 200px 0 200px;
    padding: 10px 12px 10px 12px;
    border-radius: 4px;
    border: none;
    float: right;
    background-color: yellow;
    color: white !important;
    
}

.Journal{
    margin: 120px 200px 200px 200px;
    position: relative;
    padding: 50px 50px 50px 50px;
    background-clip: padding-box;
    box-shadow: 0 0 0 8px #f8f8f8;
    background-color: rgba(255, 255, 255, 0.20);
    }
}


p, .journalButtons {
    float: right;
    width: 55%;
    
}
h3{
    font-size: 25px;
}

h4{
    font-size: 18px;
}
h3, h4 {
    /* float: left; */
    /* padding-right: 550px; */
    width:100%;
}

img{
    height: 180px;
    padding-bottom: 20px;
}

.date{
    float: left;
}

h3, img, {
    /* width: 51%; */
    margin: 0;
    position:  center;
}

.card {
    background-color: transparent !important;
}

p {
   
}



/* .entry-header{
    width: 50%
    max-width: 500px;
} */
