#container-fluid{
  margin: 10px;
  padding: 0;
}
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    /* width: 100%; */
    /* The width is the width of the web page */
    margin: 10px;
  }

#background {
    background-image: url(../img/journal-background.jpg);
    background-size: cover; 
    margin: 0 auto;
    padding: 0px;
    max-width: 100%; 
    height: 35vh;
    max-height: 100%;
    background-position: center center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    position: sticky;
}

.home-screen-fade {
  height: 35vh;
  background: linear-gradient(
      rgba()
      rgba(77, 77, 77, 0.479),
      rgba(77, 77, 77, 0.479) 57%,
      rgba(163, 163, 163, 0.671) 80%,
      white 100%
  );
}
  .jumbotron{
    background-color: transparent !important;
}

#entire-card {
  max-width: 60%;
  padding-left: 70px;
}

  