:root {
    --green: rgb(156, 194, 18);
    --blue: rgb(71, 189, 225);
    --white: rgb(241, 241, 241);
    --yellow: rgb(252, 222, 54);
    --red: rgb(192, 20, 20);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: var(--blue);
    font-family: 'Nanum Myeongjo', serif;
}
/* Nav Bar */
nav {
    font-family: 'Nanum Myeongjo', serif;
    align-items: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.754),
        rgba(202, 202, 202, 0)
    );
    display: flex;
    height: 8vh;
}
a:-webkit-any-link {
    color: var(--yellow);
    cursor: pointer;
    text-decoration: none;
}
.logo {
    width: 65%;
}
.logo h1 {
    text-shadow: #FC0 1px 0 10px;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
    width: 300px;
    text-align: center;
    margin: 5px;
}
.nav-links {
    width: 35%;
}
.nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1rem;
}
.nav-links li a {
        font-weight: 800;
text-shadow: #FC0 1px 0 10px;
    color: var(--yellow);
    text-decoration: none;
    font-size: 1.2rem;
}
/* search bar */
.search-bar-container{
padding: 15px;
}
.search {
  width: 500px;
  height: 40px;
  margin: auto;
   background: linear-gradient(
        90deg,
        var(--white) 0%,
        var(--yellow) 100%
    );
  border-radius: 3px;
  border: 1px solid #fff;
}
.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
color: rgba(126, 126, 126, 0.994);
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}
.search input:focus {
  outline: 0;
  background: transparent;
}
.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
color: rgba(126, 126, 126, 0.994);
   background: var(--yellow);
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}
.search button:hover {
  background: #fff;
  color: #444;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px #e1e1e1;
}
.search button:focus {
  outline: 0;
}

/* Map Container */
.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    /* background-image: url(map.jpg); */
    height: 80vh;
    width: 80vw;
  background-size: cover;
  border-radius: 800px;
    /* The height is 400 pixels */
    /* The width is the width of the web page */
}
